In [70]:
import numpy as np
import pandas as pd
import scipy.stats as sys
from scipy.stats import spearmanr
from scipy.stats import pearsonr

In [84]:
data = pd.read_csv('data/train.zip')

/Users/Chen/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [85]:
df = data[[
    'SalePrice', 'datasource', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 
    'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc', 
    'Enclosure', 'Hydraulics', 'YearMade', 'SalesID'
]]
df.dropna(inplace=True)
df.shape
df = df[['SalePrice','datasource','state','ProductGroup', 'ProductGroupDesc',
         'Enclosure', 'Hydraulics', 'YearMade', 'SalesID']]
df = df[df['state'] != 'Unspecified']
df = df[df['Hydraulics'] != 'None or Unspecified']
df.info()

/Users/Chen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196498 entries, 0 to 401124
Data columns (total 9 columns):
SalePrice           196498 non-null int64
datasource          196498 non-null int64
state               196498 non-null object
ProductGroup        196498 non-null object
ProductGroupDesc    196498 non-null object
Enclosure           196498 non-null object
Hydraulics          196498 non-null object
YearMade            196498 non-null int64
SalesID             196498 non-null int64
dtypes: int64(4), object(5)
memory usage: 15.0+ MB

In [86]:
state= pd.get_dummies(df['state'])
df = df.merge(state, left_index = True, right_index = True)
datasource= pd.get_dummies(df['datasource'])
df = df.merge(datasource, left_index = True, right_index = True)
ProductGroup = pd.get_dummies(df['ProductGroup'])
df = df.merge(ProductGroup, left_index = True, right_index = True)
ProductGroupDesc = pd.get_dummies(df['ProductGroupDesc'])
df = df.merge(ProductGroupDesc, left_index = True, right_index = True)
Enclosure = pd.get_dummies(df['Enclosure'])
df = df.merge(Enclosure, left_index = True, right_index = True)
Hydraulics = pd.get_dummies(df['Hydraulics'])
df = df.merge(Hydraulics, left_index = True, right_index = True)

In [87]:
df = df.drop('datasource', 1)
df = df.drop('state', 1)
df = df.drop('ProductGroup', 1)
df = df.drop('ProductGroupDesc', 1)
df = df.drop('Enclosure', 1)
df = df.drop('Hydraulics', 1)
# df.head()

In [88]:
from sklearn import linear_model
import statsmodels.api as sm

Save columns

In [150]:
train_columns = df.drop(['SalePrice'], axis=1).columns

In [151]:
X = np.array(df.drop(['SalePrice', 'SalesID'], 1))
y = np.array(df['SalePrice'])

In [152]:
# simple_model = sm.OLS(y, X)
# simple_results = simple_model.fit()
# simple_results.summary()

In [153]:
# simple_model.predict()

In [154]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [155]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [156]:
lm = LinearRegression()

In [157]:
lm.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [158]:
cross_val_score(lm, X_train, y_train, cv=10).mean()

0.320106460250959

In [159]:
lm.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [160]:
X.shape

(196498, 82)

## Test Model

In [199]:
test_data = pd.read_csv('data/test.csv')

In [200]:
test_df = test_data[[
    'datasource', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 
    'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc', 
    'Enclosure', 'Hydraulics', 'YearMade', 'SalesID'
]]
test_df.dropna(inplace=True)
test_df = test_df[['datasource','state','ProductGroup', 'ProductGroupDesc',
         'Enclosure', 'Hydraulics', 'YearMade', 'SalesID']]
test_df = test_df[test_df['state'] != 'Unspecified']
test_df = test_df[test_df['Hydraulics'] != 'None or Unspecified']
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6333 entries, 1 to 11572
Data columns (total 8 columns):
datasource          6333 non-null int64
state               6333 non-null object
ProductGroup        6333 non-null object
ProductGroupDesc    6333 non-null object
Enclosure           6333 non-null object
Hydraulics          6333 non-null object
YearMade            6333 non-null int64
SalesID             6333 non-null int64
dtypes: int64(3), object(5)
memory usage: 445.3+ KB

/Users/Chen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [201]:
state= pd.get_dummies(test_df['state'])
test_df = test_df.merge(state, left_index = True, right_index = True)
datasource= pd.get_dummies(test_df['datasource'])
test_df = test_df.merge(datasource, left_index = True, right_index = True)
ProductGroup = pd.get_dummies(test_df['ProductGroup'])
test_df = test_df.merge(ProductGroup, left_index = True, right_index = True)
ProductGroupDesc = pd.get_dummies(test_df['ProductGroupDesc'])
test_df = test_df.merge(ProductGroupDesc, left_index = True, right_index = True)
Enclosure = pd.get_dummies(test_df['Enclosure'])
test_df = test_df.merge(Enclosure, left_index = True, right_index = True)
Hydraulics = pd.get_dummies(test_df['Hydraulics'])
test_df = test_df.merge(Hydraulics, left_index = True, right_index = True)

In [202]:
test_df = test_df.drop('datasource', 1)
test_df = test_df.drop('state', 1)
test_df = test_df.drop('ProductGroup', 1)
test_df = test_df.drop('ProductGroupDesc', 1)
test_df = test_df.drop('Enclosure', 1)
test_df = test_df.drop('Hydraulics', 1)
# df.head()

In [203]:
train_columns

Index([           'YearMade',             'SalesID',             'Alabama',
                    'Alaska',             'Arizona',            'Arkansas',
                'California',            'Colorado',         'Connecticut',
                  'Delaware',             'Florida',             'Georgia',
                    'Hawaii',               'Idaho',            'Illinois',
                   'Indiana',                'Iowa',              'Kansas',
                  'Kentucky',           'Louisiana',               'Maine',
                  'Maryland',       'Massachusetts',            'Michigan',
                 'Minnesota',         'Mississippi',            'Missouri',
                   'Montana',            'Nebraska',              'Nevada',
             'New Hampshire',          'New Jersey',          'New Mexico',
                  'New York',      'North Carolina',        'North Dakota',
                      'Ohio',            'Oklahoma',              'Oregon',
              'Pennsylvania',         'Puerto Rico',        'Rhode Island',
            'South Carolina',        'South Dakota',           'Tennessee',
                     'Texas',                'Utah',             'Vermont',
                  'Virginia',          'Washington',       'Washington DC',
             'West Virginia',           'Wisconsin',             'Wyoming',
                         121,                   132,                   136,
                         149,                   172,                  'MG',
                       'SSL',                 'TEX',                 'TTT',
                        'WL',       'Motor Graders',  'Skid Steer Loaders',
          'Track Excavators', 'Track Type Tractors',        'Wheel Loader',
                     'EROPS',          'EROPS w AC',               'OROPS',
                   '2 Valve',             '3 Valve',             '4 Valve',
                 'Auxiliary',   'Base + 1 Function',   'Base + 2 Function',
         'Base + 3 Function',   'Base + 4 Function',   'Base + 5 Function',
         'Base + 6 Function',            'Standard'],
      dtype='object')

In [204]:
train_columns

# Drop extra columns
for column in test_df.columns:
    if column not in train_columns:
        test_df.drop(column, axis=1, inplace=True)
        
# Add missing columns
for column in train_columns:
    if column not in test_df.columns:
        test_df[column] = 0

test_df.columns

Index([           'YearMade',             'SalesID',             'Alabama',
                   'Arizona',            'Arkansas',          'California',
                  'Colorado',         'Connecticut',            'Delaware',
                   'Florida',             'Georgia',               'Idaho',
                  'Illinois',             'Indiana',                'Iowa',
                    'Kansas',            'Kentucky',           'Louisiana',
                  'Maryland',       'Massachusetts',            'Michigan',
                 'Minnesota',         'Mississippi',            'Missouri',
                   'Montana',            'Nebraska',              'Nevada',
             'New Hampshire',          'New Jersey',          'New Mexico',
                  'New York',      'North Carolina',        'North Dakota',
                      'Ohio',            'Oklahoma',              'Oregon',
              'Pennsylvania',         'Puerto Rico',      'South Carolina',
              'South Dakota',           'Tennessee',               'Texas',
                      'Utah',            'Virginia',          'Washington',
             'West Virginia',           'Wisconsin',             'Wyoming',
                         121,                   132,                   149,
                         172,                  'MG',                 'SSL',
                       'TEX',                 'TTT',                  'WL',
             'Motor Graders',  'Skid Steer Loaders',    'Track Excavators',
       'Track Type Tractors',        'Wheel Loader',               'EROPS',
                'EROPS w AC',               'OROPS',             '2 Valve',
                   '3 Valve',             '4 Valve',           'Auxiliary',
         'Base + 1 Function',   'Base + 2 Function',   'Base + 3 Function',
         'Base + 4 Function',   'Base + 5 Function',   'Base + 6 Function',
                  'Standard',              'Alaska',              'Hawaii',
                     'Maine',        'Rhode Island',             'Vermont',
             'Washington DC',                   136],
      dtype='object')

In [205]:
train_columns.shape, test_df.columns.shape

((83,), (83,))

Resort columns and split out SalesID for adding later

In [206]:
test_df = test_df[train_columns]
SalesID = test_df.pop('SalesID')

In [207]:
test_df.head()

,YearMade,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,...,3 Valve,4 Valve,Auxiliary,Base + 1 Function,Base + 2 Function,Base + 3 Function,Base + 4 Function,Base + 5 Function,Base + 6 Function,Standard
1,2006,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1000,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2002,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,1000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [208]:
test_X = np.array(test_df)

In [209]:
test_X.shape

(6333, 82)

In [210]:
test_X.shape

(6333, 82)

In [211]:
pred = lm.predict(test_X)

In [212]:
pred.shape

(6333,)

In [218]:
s = np.array(SalesID)

In [225]:
results = pd.DataFrame({'SalesID': s, 'SalePrice': pred})
results.to_csv('data/SUCCESS.csv')

In [228]:
lm.score(X,y)

0.3221711716548442